<% if user_signed_in? %>
	<% @tasks.each do |task| %>
		<p>
			<% if task.completed == true %>
		    	<%= link_to "Re-do", task_path(task) + '?task[completed]=false', method: :patch, class: 'btn btn-outline-danger btn-sm'%> 
				<s><%= link_to task.title, task_path(task) %></s>
		    <% else %>
		    	<%= link_to "Complete", task_path(task) + '?task[completed]=true', method: :patch, class: 'btn btn-outline-primary btn-sm'%>    	
				<%= link_to task.title, task_path(task) %>
			<% end %>
		</p>		
		<%= link_to "Edit", edit_task_path(task)  %>|
		<%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
		<hr>
	<% end %>

<% end %>