<p>
  <strong><h2>Task: <%= @task.title.capitalize %></h2></strong><br>
  <% @task.items.each  do |item|%>
  <%= item.item %>|
  <%= link_to "Edit", edit_task_item_path(@task, item) %></br>
  <hr>
  <% end %>
</p>
<%= link_to 'Add item', new_task_item_path(@task) %> |
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>